<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbType" value="SqlServer"/>
  </appSettings>
  <connectionStrings>
    <add name="MySql" connectionString="Server=localhost;Database=StormwindIntegration;Uid=root;Pwd=disk44you;" providerName="mysql.data"/>
    <add name="SqlServer" connectionString="Data Source=localhost;Initial Catalog=StormwindIntegration;User Id=sa;Password=disk44you" providerName="System.Data"/>
  </connectionStrings>
</configuration>