<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="StormwindConfiguration" type="Stormwind.Infrastructure.StormwindSectionHandler, Stormwind.Infrastructure"/>
	</configSections>
	<StormwindConfiguration>
		<!-- NHibernate configuration reference: https://www.hibernate.org/361.html -->
		<DatabaseSettings>
			<DriverClass>NHibernate.Driver.SqlClientDriver</DriverClass>
			<Dialect>NHibernate.Dialect.MsSql2005Dialect</Dialect>
			<ConnectionString>Data Source=localhost;Initial Catalog=StormwindIntegration;User Id=sa;Password=disk44you</ConnectionString>
			<ShowSql>true</ShowSql>
			<CreateDatabase>true</CreateDatabase>
		</DatabaseSettings>
		<DevMode>true</DevMode>
	</StormwindConfiguration>
</configuration>