/****** Object:  Table [$table.Schema].[$table.Name] $time ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

IF NOT EXISTS 
(
  SELECT * FROM [information_schema].[tables] 
  WHERE table_name = '$table.Name' 
  AND table_schema = '$table.Schema'
)
BEGIN
  CREATE TABLE [$table.Schema].[$table.Name]
  (
#set($colCount=0)
#foreach ($column in $table.Columns)
#set($colCount = $colCount + 1)
    $SqlScriptHelper.WriteColumn($column)#if($colCount < $table.Columns.Count),
#end
#end

  ) ON [PRIMARY]
END

GO

SET ANSI_PADDING OFF
GO

