/****** Object:  Foreign Key [$foreignkey.ForeignTable.Schema].[$foreignkey.Name] $time ******/

IF EXISTS
(
  SELECT * FROM [information_schema].[referential_constraints] 
  WHERE constraint_name = '$foreignkey.Name' 
  AND constraint_schema = '$foreignkey.ForeignTable.Schema'
)
BEGIN
  ALTER TABLE [$foreignkey.ForeignTable.Schema].[$foreignkey.ForeignTable.Name] 
  DROP CONSTRAINT [$foreignkey.ForeignTable.Schema].[$foreignkey.Name]
END
