/****** Object:  Index [$index.Schema].[$index.Name] $time ******/

IF NOT EXISTS 
(
  SELECT * FROM [sysindexes] 
  WHERE id = object_id('$index.Table.Name')
  AND name = '$index.Name'
)
BEGIN
#if ($index.Clustered)
  ALTER TABLE [$index.Table.Schema].[$index.Table.Name] ADD CONSTRAINT [$index.Name] PRIMARY KEY CLUSTERED 
#else
  CREATE#if($index.Unique) UNIQUE#end NONCLUSTERED INDEX [$index.Name] ON [$index.Table.Schema].[$index.Table.Name]
#end
  (
#set($count=1)
#foreach($indexedCol in $index.Columns)
    [$indexedCol.Name] #if($index.Collation=="ASCENDING")ASC#else DESC#end#if($count < $index.Columns.Count),#end

#set($count=$count+1)
#end
  )WITH (FILLFACTOR = #if($index.FillFactor==0)100#else$index.FillFactor#end)
## FILLFACTOR 0 == 100 in BOL
END

GO


