<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="Stormwind" connectionString="Server=localhost;Database=Stormwind;Uid=root;Pwd=disk44you;" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="Stormwind" connectionString="Data Source=localhost;Initial Catalog=Stormwind;User Id=sa;Password=disk44you" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>